<header>
    <nav class="logoGasolina row">
        <div class="logo col-sm">
            <img src="https://gasolinadrink.com/images/logo_gasolina_2022.png" alt="Logo Gasolina">
        </div>
        <div class="col-sm">
            <!-- Puede incluirse algún texto adicional aquí si lo necesitas -->
        </div>
        <div class="gasoline-icon col-sm d-flex gap-3 align-items-center me-4">
            <img src="https://cdn-icons-png.flaticon.com/512/2933/2933939.png" alt="gasolina">
            <h1>Gasolineras</h1>
        </div>
    </nav>
    <nav class="subNav">
        <div class="content d-flex">
            <div class="col d-flex">
                <h2> <a class="nav-link" href="/precios" routerLinkActive="active">Precios |</a></h2>
                <h2> <a class="nav-link" href="/estaciones" routerLinkActive="active">Estaciones |</a></h2>
                <h2> <a class="nav-link" href="/promociones" routerLinkActive="active">Promociones</a></h2>
            </div>
            <div class="search-bar">
                <form class="search-form position-relative d-flex align-items-center border border-1 border-light rounded-pill overflow-hidden bg-white">
                    <input class="btn fs-4 cursor-pointer border border-0" type="search" aria-label="Buscar" placeholder="Buscar estación o producto" name="busqueda">
                    <button class="btn-search border border-0 d-flex align-items-center justify-content-end h-100" type="submit">
                        <i class="bi bi-search fs-3 bg-white text-black"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
