* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.logoGasolina {
    background-color: #ff6600; /* Color cálido y relacionado con el tema de gasolina */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoGasolina .logo img {
    width: 250px;  /* Ajuste del logo según sea necesario */
    height: 150px;
}

.logoGasolina .gasoline-icon {
    justify-content: right;
}

.logoGasolina .gasoline-icon img {
    width: 100px;
    height: 100px;
}

.subNav {
    background-color: #333333;  /* Fondo oscuro para una apariencia más sofisticada */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;  /* Aumento de espacio para mejorar la legibilidad */
    width: 100%;
}

.subNav .content {
    justify-content: left;
    width: 60%;
}

.subNav h2 {
    margin-right: 20px;
}

.subNav a.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.subNav a.nav-link:hover {
    color: #ff6600; /* Color de acento, como el del logo */
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
}

.search-form input {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    width: 250px;  /* Tamaño ajustado */
}

.search-form button {
    background-color: #ff6600;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form button i {
    color: white;
    font-size: 20px;
}

.titulo {
    background-color: #1783f7;
    border: solid black;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
